.gameIdTitle{
  font-size: 15px;
}

.previouslist{
width:100%;
height:10%;
overflow: hidden;
overflow-x: scroll;
display:-webkit-box;
}

.list{
  width: 96%;
  height: 55%;
  flex-wrap: wrap;
  display: flex;
  position: absolute;
  bottom: 20px;
  padding: 10px;
  margin: 10px;
}

.presentnumber{
  width: 100%;
  height: 11%;
  font-size: 115px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #FFC300;
  position: absolute;
  top: 25%;
}

.allnumber{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
  margin: 3px;
  background: #dee2e6;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.number{
  width:50px;
  height:50px;
  border-radius: 50%;
  margin: 3px;
  background: #a0ffb6;
  text-align: center;
  justify-content: center;
  align-items: center;
  display:flex;
}

.marked{
  background: #007bff;
    color: white;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 8px #cecece, inset -5px -5px 8px #f2f2f2;
}

li:hover {
  box-shadow: inset 5px 5px 8px #cecece, inset -5px -5px 8px #f2f2f2;
}

li:nth-child(1) i{
    color:hsl(12, 79%, 52%);
}

li:nth-child(2) i{
    color:hsl(202, 65%, 53%);
}

li:nth-child(3) i{
    color:hsl(210, 12%, 16%);
}

@media screen and (max-width: 640px) {
    ul {
        display: flex;
      }
  }

  .modal{
    background: #9a9da082 !important;
  }


