<div class="enterGame">
  <div class="gameKey">
    <div class="enter">
      <button class="btn btn-secondary m-3 bg-color " type="button" (click)="service.userLogin()">Enter Game</button>
    </div>
    <form>
      <input type="text" class="form-control m-3"  [(ngModel)]="service.gameKey" placeholder="6 Digits Game Key " aria-label=" 6 digits Game Key"
        aria-describedby="basic-addon2" autocomplete="off" name="pin">
      <input type="password"  class="form-control m-3" placeholder="4 digits Pin" [(ngModel)]="service.pin"
        aria-label="4 Digits Pin" aria-describedby="basic-addon2" autocomplete="off" name="GameId">
    </form>
  <div>
    <button class="btn btn-secondary m-3 " type="button" (click)="service.validateGame()">Start Game</button>
  </div>
</div>
</div>

